<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="msdbConnectionString" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=msdb;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="mssqllocaldb" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=msdb;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <!--
    <authentication mode="Forms">
       <forms loginUrl="login.aspx"  cookieless="UseUri" />
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    
    
    <pages theme="blue" styleSheetTheme="blue"/>
    -->
    
    <compilation debug="true" targetFramework="4.6">
      <assemblies>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
</configuration>